doctype
html
	head
		title IMAChat
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css", rel="stylesheet", integrity="sha256-mKuwI+x5TH/8YJ3N3ZHLGK0+IMRL4bZ1Me+2ylaxrwY= sha512-ltZkxhZ59a1sQYi1uob1y0iNgfeEoS8ouAdSyKMCLXDNcbNaSWM2vTpGOqmaVtri+qENaJ3YWANjGjjGX9ij8A==", crossorigin="anonymous")
		link(href='/css/site.css', rel='stylesheet',)
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
	.panel.panel-primary
		.panel-heading Chat Application 
		.panel-body
			.name
				|Name: 
				input#name(style='width:555px;')
			br
			#content(style= 'width:600px; height:300px; border: solid 1px; padding: 10px; overflow-y:scroll;')
			br
			.controls
				input#field(style='width:550px')
				input#send(type='button', value='send')
			br
			div(style= 'width:600px; height:150px; border: solid 1px; padding: 10px; overflow-y:scroll;')
				b Participants
				br
				#participants